.h001 { clear: both; height: 1px; margin: 0px;}
.h002 { clear: both; height: 2px; margin: 0px;}
.h003 { clear: both; height: 3px; margin: 0px;}
.h004 { clear: both; height: 4px; margin: 0px;}
.h005 { clear: both; height: 5px; margin: 0px;}
.h006 { clear: both; height: 6px; margin: 0px;}
.h007 { clear: both; height: 7px; margin: 0px;}
.h008 { clear: both; height: 8px; margin: 0px;}
.h009 { clear: both; height: 9px; margin: 0px;}

.h010 { clear: both; height: 10px; margin: 0px; }
.h011 { clear: both; height: 11px; margin: 0px; }
.h012 { clear: both; height: 12px; margin: 0px; }
.h013 { clear: both; height: 13px; margin: 0px; }
.h014 { clear: both; height: 14px; margin: 0px; }
.h015 { clear: both; height: 15px; margin: 0px; }
.h016 { clear: both; height: 16px; margin: 0px; }
.h017 { clear: both; height: 17px; margin: 0px; }
.h018 { clear: both; height: 18px; margin: 0px; }
.h019 { clear: both; height: 19px; margin: 0px; }

.h020 { clear: both; height: 20px; margin: 0px; }
.h021 { clear: both; height: 21px; margin: 0px; }
.h022 { clear: both; height: 22px; margin: 0px; }
.h023 { clear: both; height: 23px; margin: 0px; }
.h024 { clear: both; height: 24px; margin: 0px; }
.h025 { clear: both; height: 25px; margin: 0px; }
.h026 { clear: both; height: 26px; margin: 0px; }
.h027 { clear: both; height: 27px; margin: 0px; }
.h028 { clear: both; height: 28px; margin: 0px; }
.h029 { clear: both; height: 29px; margin: 0px; }

.h030 { clear: both; height: 30px; margin: 0px; }
.h031 { clear: both; height: 31px; margin: 0px; }
.h032 { clear: both; height: 32px; margin: 0px; }
.h033 { clear: both; height: 33px; margin: 0px; }
.h034 { clear: both; height: 34px; margin: 0px; }
.h035 { clear: both; height: 35px; margin: 0px; }
.h036 { clear: both; height: 36px; margin: 0px; }
.h037 { clear: both; height: 37px; margin: 0px; }
.h038 { clear: both; height: 38px; margin: 0px; }
.h039 { clear: both; height: 39px; margin: 0px; }

.h040 { clear: both; height: 40px; margin: 0px; }
.h041 { clear: both; height: 41px; margin: 0px; }
.h042 { clear: both; height: 42px; margin: 0px; }
.h043 { clear: both; height: 43px; margin: 0px; }
.h044 { clear: both; height: 44px; margin: 0px; }
.h045 { clear: both; height: 45px; margin: 0px; }
.h046 { clear: both; height: 46px; margin: 0px; }
.h047 { clear: both; height: 47px; margin: 0px; }
.h048 { clear: both; height: 48px; margin: 0px; }
.h049 { clear: both; height: 49px; margin: 0px; }

.h050 { clear: both; height: 50px; margin: 0px; }
.h051 { clear: both; height: 51px; margin: 0px; }
.h052 { clear: both; height: 52px; margin: 0px; }
.h053 { clear: both; height: 53px; margin: 0px; }
.h054 { clear: both; height: 54px; margin: 0px; }
.h055 { clear: both; height: 55px; margin: 0px; }
.h056 { clear: both; height: 56px; margin: 0px; }
.h057 { clear: both; height: 57px; margin: 0px; }
.h058 { clear: both; height: 58px; margin: 0px; }
.h059 { clear: both; height: 59px; margin: 0px; }

.h060 { clear: both; height: 60px; margin: 0px; }
.h061 { clear: both; height: 61px; margin: 0px; }
.h062 { clear: both; height: 62px; margin: 0px; }
.h063 { clear: both; height: 63px; margin: 0px; }
.h064 { clear: both; height: 64px; margin: 0px; }
.h065 { clear: both; height: 65px; margin: 0px; }
.h066 { clear: both; height: 66px; margin: 0px; }
.h067 { clear: both; height: 67px; margin: 0px; }
.h068 { clear: both; height: 68px; margin: 0px; }
.h069 { clear: both; height: 69px; margin: 0px; }

.h070 { clear: both; height: 70px; margin: 0px; }
.h071 { clear: both; height: 71px; margin: 0px; }
.h072 { clear: both; height: 72px; margin: 0px; }
.h073 { clear: both; height: 73px; margin: 0px; }
.h074 { clear: both; height: 74px; margin: 0px; }
.h075 { clear: both; height: 75px; margin: 0px; }
.h076 { clear: both; height: 76px; margin: 0px; }
.h077 { clear: both; height: 77px; margin: 0px; }
.h078 { clear: both; height: 78px; margin: 0px; }
.h079 { clear: both; height: 79px; margin: 0px; }

.h080 { clear: both; height: 80px; margin: 0px; }
.h081 { clear: both; height: 81px; margin: 0px; }
.h082 { clear: both; height: 82px; margin: 0px; }
.h083 { clear: both; height: 83px; margin: 0px; }
.h084 { clear: both; height: 84px; margin: 0px; }
.h085 { clear: both; height: 85px; margin: 0px; }
.h086 { clear: both; height: 86px; margin: 0px; }
.h087 { clear: both; height: 87px; margin: 0px; }
.h088 { clear: both; height: 88px; margin: 0px; }
.h089 { clear: both; height: 89px; margin: 0px; }

.h090 { clear: both; height: 90px; margin: 0px; }
.h091 { clear: both; height: 91px; margin: 0px; }
.h092 { clear: both; height: 92px; margin: 0px; }
.h093 { clear: both; height: 93px; margin: 0px; }
.h094 { clear: both; height: 94px; margin: 0px; }
.h095 { clear: both; height: 95px; margin: 0px; }
.h096 { clear: both; height: 96px; margin: 0px; }
.h097 { clear: both; height: 97px; margin: 0px; }
.h098 { clear: both; height: 98px; margin: 0px; }
.h099 { clear: both; height: 99px; margin: 0px; }
.h100 { clear: both; height: 100px; margin: 0px; }

.pdg00 { padding: 0px; }
.pdg05 { padding: 5px; }
.pdg10 { padding: 10px; }
.pdg15 { padding: 15px; }
.pdg20 { padding: 20px; }
.pdg25 { padding: 25px; }
.pdg30 { padding: 30px; }

.pdglr05 { padding-left: 5px; padding-right: 5px; }
.pdglr10 { padding-left: 10px; padding-right: 10px; }
.pdglr15 { padding-left: 15px; padding-right: 15px; }
.pdglr20 { padding-left: 20px; padding-right: 20px; }
.pdglr25 { padding-left: 25px; padding-right: 25px; }
.pdglr30 { padding-left: 30px; padding-right: 30px; }
.pdglr35 { padding-left: 35px; padding-right: 35px; }
.pdglr40 { padding-left: 40px; padding-right: 40px; }
.pdglr45 { padding-left: 45px; padding-right: 45px; }
.pdglr50 { padding-left: 50px; padding-right: 50px; }

.set-mgn { margin: 10px; margin-bottom: 0px; }
@media(max-width: 800px) {
    .set-mgn { margin: 0px; }
    #desk_menu { display: none; }    
}