input, button:focus {
	outline : none;	
}

.btn-more {
	border:1px solid white; 
	padding:15px; background-color: transparent; 
	font-family: 'arial';
}
.btn-more:hover {
	border:1px solid yellow;
	color:yellow;
	margin-top:-2px;
	margin-bottom: 2px;
}

.btn-trans {
	border:1px solid silver; 
	padding:15px; background-color: transparent; 
	font-family: 'arial';
}
.btn-trans:hover {
	border:1px solid gray;
	color:orange;
	margin-top:-2px;
	margin-bottom: 2px;
}

.btn-download {
	border:0px; 
	background-image: linear-gradient(to right, #ED3287, #D41147); 	
	border-radius: 5px; 
	font-family: 'arial';
}
.btn-download:hover {
	margin-top:-2px;
	margin-bottom: 2px;
}

.txt-menu {
	padding-right: 25px; 
	letter-spacing: 0.1em; 
	cursor: pointer;
	font-family: 'arial';
}
.txt-menu:hover {
	font-weight: 700;
}

.img-trailer {
	width:300px; border:7px solid #f7f7f7; cursor: pointer;
}
.img-trailer:hover {
	border: 7px solid white;
	margin-top:-2px;
	margin-bottom: 2px;
}

a { text-decoration: none;}
a:hover {
	color:orange;	
	text-decoration: none;
}